.body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.content {
    margin: auto;
    width: 90%;
    height: 80%;
    display: flex;
}

.image_card {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.image_wrapper {
    flex: 0 auto;
}

.image {
    height: 700px;
    width: auto;
}

.key {
    padding-block: 1rem;
}

.key_item {
    font-size: 1.5rem;
    margin-block: 1rem;
    display: flex;
}

.circle {
    content: "";
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-inline: 1rem;
}

.red {
    background: red;
}

.orange {
    background: orangered;
}

.text {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    margin-right: 2rem;
    border-right: rgba(255, 255, 255, 0.5) solid 1px;
}

.text h2 {
    font-size: 2rem;
    font-family: Roboto, sans-serif;
}

.challenges {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text p {
    font-size: 1.2rem;
    margin-block: 1rem;
}