.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--header-font-family);
}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left:hover > * {
    color: orangered;
}

.button {
    background: none;
    color: white;
    padding: 1rem;
    font-size: large;
    transition: transform 0.3s ease-out;
}

.btn_open {
    transform: rotate(90deg);
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.content {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.open {
    max-height: 2000px;
    padding: 2rem;
}

.closed {
    max-height: 0;
    padding: 0;
}

.link_icon {
    font-size: x-large;
    cursor: pointer;
    padding-right: 1rem;
}

.link_icon:hover {
    color: orangered;
}

.wrapper {
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.wip {
    background: grey;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    color: white !important;
    font-size: small;
    font-family: Montserrat, sans-serif;
}



@media screen and (max-width: 768px) {
    .open {
        padding: 1rem;
    }

    .wip {
        display: none;
    }

    .link_icon {
        display: none;
    }
}