.header {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    background-color: black;
    z-index: 10;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.logo {
    height: 5rem;
    width: 5rem;
    transition: box-shadow 0.2s;
}

.logo:hover {
    box-shadow: 3px 3px orangered;
}

.logo_link {
    text-decoration: none;
    padding: 0;
}

.logo_link:hover {
    background: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--header-font-family);
}

.link {
    position: relative;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    color: orangered;
    text-decoration: none;
}

div:hover > .link {
    background-color: orangered;
    color: black;
}

.sub_menu {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: black;
    margin-top: 0.5rem;
    z-index: 3;
}

div:hover > .sub_menu {
    display: flex;
}

.header a {
    color: orangered;
    font-family: var(--header-font-family);
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.5rem;
}

.sub_menu a {
    padding: 10px;
    color: black;
    background: orangered;
    text-decoration: none;
    border-radius: 0;
}

.sub_menu > *:hover {
    color: orangered;
    background: black;
    text-shadow: none;
    border-radius: 0;
}

.sub_link {
    display: flex;
    align-items: center;
}

.sub_icon {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

@keyframes ghost_anim {
    0% {
        filter: drop-shadow(0 0 0.5rem red);
    }
    25% {
        filter: drop-shadow(0 0 0.5rem yellow);
    }
    50% {
        filter: drop-shadow(0 0 0.5rem blue);
    }
    75% {
        filter: drop-shadow(0 0 0.5rem green);
    }
    100% {
        filter: drop-shadow(0 0 0.5rem red);
    }
}

.ghost_icon {
    margin-left: 10rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.ghost_icon:hover {
    opacity: 1;
    animation: ghost_anim 1s linear infinite;
}