.grid {
    margin-top: 2rem;
    display: flex;
}

.grid > * {
    flex: 1;
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: orangered;
    color: white;
    gap: 1rem;
}

.item:hover {
    background-color: white;
    color: orangered;
}

.item:hover * {
    text-shadow: none;
}

.icon {
    font-size: 5rem;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 0.5rem black;
    font-family: Montserrat, sans-serif;
}

.subtitle {

}