@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --header-font-family: 'Montserrat', sans-serif;
    --text-font-family: 'Roboto', sans-serif;
}

p {
    font-family: var(--text-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
}