.activities {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.activity {
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 1rem;
}

.activity_name {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.encounters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

.encounter {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.encounter > * {
    flex: 1;
}

.selector_row {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.selector_items {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.selector_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.selector_item:hover {
    background: orangered;
}

.selected {
    background: orangered;
}

.selector_icon {
    width: 4rem;
    height: 4rem;
}

.result_row {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    font-size: 1.2rem;
    font-family: Montserrat, sans-serif;
}

.result_row > * {
    flex: 1;
}

.done {
    background: gray;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.vote_button {
    cursor: pointer;
    background: orangered;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.vote_button:hover {
    background: white;
    color: orangered;
}