.button {
    color: orangered;
    display: inline;
    font-size: 2rem;
    margin-right: 1rem;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border-right: 3px solid orangered;
    padding-right: 1rem;
}

.button:hover {
    color: white;
    border-right: 3px solid white;
    text-shadow: 2px 2px orangered;
}