.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--header-font-family);
}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left:hover > * {
    color: orangered;
}

.button {
    background: none;
    color: white;
    padding: 1rem;
    font-size: large;
    transition: transform 0.3s ease-out;
}

.btn_open {
    transform: rotate(90deg);
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.content {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.open {
    max-height: 10000px;
}

.closed {
    max-height: 0;
}

.link_icon {
    font-size: x-large;
    cursor: pointer;
}

.link_icon:hover {
    color: orangered;
}