.footer {
    background: #111111;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: #ffffff;
}

.link {
    text-shadow: orangered 2px 2px 4px;
}

.link:hover {
    text-shadow: white 2px 2px 4px;
}