.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > * {
    margin-left: 20px;
}

.sub_menu {
    display: none;
}

.menu:hover .sub_menu {
    display: block;
}