.page {
    max-width: 60%;
    margin: 0 auto;
}

.page_title_wrapper {
    display: flex;
    align-items: center;
    border-bottom: orangered 1px solid;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.page_title {
    font-size: 2rem;
    font-weight: bold;
}

.full_image {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}