.dropdown_content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.image_link {
    width: 100%;
}

.dropdown_image {
    width: 100%;
    height: auto;
}

.encounter {
    margin-block: 2rem;
    padding-inline: 2rem;
}

.encounter_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.jump_buttons {
    display: flex;
    flex-direction: column;
}

.jump_button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--header-font-family);
}

.jump_label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
}